{
    "settings": {
        "number_of_shards": 1,
        "number_of_replicas": 0,
    },
    "mappings": {
        "properties": {
            {% for key in tags %}
            "{{ key }}": {
                "type": "text",
                "analyzer": "{{ language }}"
            },
            {% endfor %}
        }
    }
}
